<div class="app-header-wrapper">
    <div class="app-header">
        <div class="header-toolbar">
            <div class="back-button">
                <a md-icon-button class="icon" [routerLink]="['/']"><md-icon>arrow_back</md-icon></a>
            </div>
            <div class="header-title">
                <md-input-container floatPlaceholder="false">
                <input mdInput value="Tiêu đề Survey (đề thi)"/>
                </md-input-container>
            </div>
            <div class="header-buttons">
                <button md-raised-button >Gui</button>
                <button md-icon-button> <md-icon class="icon">color_lens</md-icon></button>
                <button md-icon-button> <md-icon class="icon">visibility</md-icon></button>
                <button md-icon-button> <md-icon class="icon">settings</md-icon></button>
                <button md-icon-button [mdMenuTriggerFor]="menu">
                    <md-icon>more_vert</md-icon>
                </button>
                <md-menu #menu="mdMenu">
                    <button md-menu-item>
                        <md-icon>dialpad</md-icon>
                        <span>Redial</span>
                    </button>
                    <button md-menu-item disabled>
                        <md-icon>voicemail</md-icon>
                        <span>Check voicemail</span>
                    </button>
                    <button md-menu-item>
                        <md-icon>notifications_off</md-icon>
                        <span>Disable alerts</span>
                    </button>
                </md-menu>
            </div>
        </div>
        <div class="header-tabs">
            <div class="tabs-editor">
                <md-tab-group [(selectedIndex)]="currentActiveTab">
                    <md-tab label="CÂU HỎI">
                    </md-tab>
                    <md-tab label="CÂU TRẢ LỜI">
                    </md-tab>
                </md-tab-group>
                <div class="editor-header">
                    <button md-icon-button (click)="toggleLibrary()"><md-icon>book</md-icon></button>
                </div>
            </div>
            <div class="tabs-library" *ngIf="isShowLibrary">
                <md-tab-group>
                    <md-tab label="Thư viện">
                    </md-tab>
                </md-tab-group>
            </div>
        </div>
    </div>
</div>
<div class="survey-editor" [ngClass]="{single1: !isShowLibrary}">
    <div class="editor">
        <div class="editor-container" [hidden]="currentActiveTab == 1">
            <survey-section [isCommonSection]="true"></survey-section>
            <survey-section *ngFor="let section of sections; index as i" [section]="section" [sections]="sections" id="survey-section-{{i}}" ></survey-section>
            <editor-toolbar></editor-toolbar>
        </div>
        <div class="editor-container" [hidden]="currentActiveTab == 0">
            Response
        </div>
    </div>
    <div class="library" *ngIf="isShowLibrary">
        <div class="editor-container">
            Library
        </div>
    </div>
</div>
<!-- 
<div id="mathEditorContainer">
    <div id="mathEditor"></div>
    <div id="mathEditorButton">
      <button md-raised-button (click)="applyMathEditor()">
          Áp dụng
      </button>
      <button md-raised-button (click)="hideMathEditor()" >
          Huỷ
      </button>
    </div>
  </div> -->