.survey-editor{
    display: flex;
    flex-direction: row;
    justify-content: center;

    .mat-tab-header{
        padding: 0 5px;
        .mat-tab-label-container{
            background-color: #fff;
        }
    }

    .mat-tab-body-content{
        padding: 0 5px;
    }
}

.editor, .library{
    position: relative;
    font-size: 14px;

    .mat-icon{
        color: rgba(0, 0, 0, 0.50)
    }
}

.survey-editor.single .editor{
    width: 60%;
}

.editor{
    width: 60%;
    .mat-tab-body-content{
        overflow: hidden;
    }
}

.library{
    width: 35%;
    margin-left: 15px;
    background-color: #fff;
}

.editor-header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;
}

.editor-header button{
    color: #555;
    z-index: 10;
    position: absolute;
    right: 10px;
    top: 5px;
}

.editor-container{
    margin-bottom: 40px;
}