.survey-editor{
    margin-top: -48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.editor, .library{
    width: 48%;
    position: relative;
}

.survey-editor.single .editor{
    width: 60%;
}

.library{
    margin-left: 15px;
    background-color: #fff;
}

.editor-header{
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;
}

.editor-header button{
    color: #555;
    z-index: 10;
    position: absolute;
    right: 10px;
    top: 5px;
}

.editor-container{

}