survey-section{
    display: block;
}

.survey-container{
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    box-shadow: 0 0 1px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
}

.survey-section{
    // background-color: #fff;
    // -webkit-box-shadow: 0 0 1px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    // box-shadow: 0 0 1px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    position: relative;

    &.common-section{
        margin-bottom: 30px;
    }

    .section-header{
        background-color: #fff;
        display: block;
        height: 40px;
    }

    .section-name{
        float: left;
        line-height: 40px;
        font-size: 120%;
        background-color: #4285f4;
        padding: 0 15px 0 30px;
        color: #fff;
    }

    .section-buttons{
        float: right;
    }

    .section-container{
        // margin-left: 
        padding: 10px 15px 15px 30px;
        border-bottom: 1px solid #eee;
        background-color: #fff;

        .mat-input-underline{
            display: none;
        }
    }

    .section-info .mat-input-container{
        width: 100%;
    }

    .section-summary h3{
        margin: 5px 0 15px;
        font-weight: 500;
    }


    &.active{
        .section-header:before{
            content: '';
            position: absolute;
            width: 4px;
            height: 100%;
            background-color: #4285f4;
        }
        .section-container .mat-input-underline{
            display: block;
        }
    }
}

.section-redirect{
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    font-size: 14px;
    margin: 10px 0 30px;
    padding: 0 10px;

    .mat-select-value-text{
        font-size: 14px;
    }
    .redirect-options{
        width: 200px;
        margin: 0 20px;
    }
    .redirect-conditions{
        width: 120px;
        margin: 0 20px;
    }
}
