<div class="survey-section" [ngClass]="{active: isActive, 'common-section': isCommonSection}" >
    <div class="survey-container">
        <div class="section-header">
            <div class="section-name" [hidden]="isCommonSection">Bài {{section.index}}/{{sections.length}}</div>
            <div class="section-buttons">
                <button md-icon-button (click)="togglePreview()">
                    <md-icon *ngIf="isPreview">keyboard_arrow_down</md-icon>
                    <md-icon *ngIf="!isPreview">keyboard_arrow_up</md-icon>
                </button>
                <button md-icon-button [mdMenuTriggerFor]="menu" *ngIf="!isCommonSection">
                    <md-icon>more_vert</md-icon>
                </button>
                <md-menu #menu="mdMenu">
                    <button md-menu-item (click)="copySection()" >
                        <span>Sao chép bài</span>
                    </button>
                    <button md-menu-item (click)="removeSection()" >
                        <span>Xoá bài</span>
                    </button>
                    <button md-menu-item (click)="mergeSection()" *ngIf="section.index > 1" >
                        <span>Hợp nhất với bài trên</span>
                    </button>
                </md-menu>
            </div>
        </div>
        <div class="section-container" (click)="focusSection()">
            <!-- <math-editor [elementId]="'testMathjax'"></math-editor> -->
            <div class="section-info" *ngIf="!isPreview">
                <md-input-container [ngClass]="'head2'" floatPlaceholder="never">
                    <input mdInput name="sectionTitle" 
                        id="sectionTitle" placeholder="Tiêu đề survey" 
                        [(ngModel)]="section.title"
                        (change)="onChangeTitle()"
                    />
                </md-input-container>
                <md-input-container floatPlaceholder="never">
                    <input mdInput placeholder="Mô tả" [(ngModel)]="section.description"/>
                </md-input-container>
            </div>
            <div class="section-summary" *ngIf="isPreview">
                <h3 *ngIf="section.title" [ngClass]="'head2'" >{{section.title}}</h3>
                <p *ngIf="section.description">{{section.description}}</p>
            </div>
        </div>

        <question-editor 
            *ngFor="let question of section.questions; index as i" 
            [question]="question" [redirectOptions]="redirectOptions" 
            [section]="section"
            [isPreview]="isPreview"
            [attr.data-index]="i"
            id="question{{question.id}}"
        ></question-editor>
    </div>
</div>


<div class="section-redirect" *ngIf="!isCommonSection && !isLastSection">
    <span>Sau bài {{section.index}}</span>
    <md-select [(ngModel)]="selectedRedirect" name="sectionRedirect" [ngClass]="'redirect-options'">
        <md-option *ngFor="let redirectOpt of redirectOptions" [value]="redirectOpt.value">
            {{redirectOpt.name}}
        </md-option>
    </md-select>
    <span>Nếu</span>
    <md-select [(ngModel)]="selectedRedirectCondition" [ngClass]="'redirect-conditions'">
        <md-option *ngFor="let cond of redirectConditions" [value]="cond.value">
            {{cond.name}}
        </md-option>
    </md-select>
</div>
