.survey-section{
    background-color: #fff;
    margin-bottom: 5px;
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    box-shadow: 0 0 1px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
}

.survey-section.active{
    border-left: 4px solid #4285f4;
}

.section-header{
    display: block;
    height: 40px;
}

.section-name{
    float: left;
    line-height: 40px;
    font-size: 120%;
    background-color: #4285f4;
    padding: 0 15px 0 30px;
    color: #fff;
}

.section-buttons{
    float: right;
}

.section-container{
    padding: 10px 15px 15px 30px;
}

.section-info .mat-input-container{
    width: 100%;
}

.section-summary h3{
    margin: 5px 0 15px;
    font-weight: 500;
}

.section-redirect{
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    font-size: 14px;
    margin-bottom: 40px;
    padding: 0 10px;
}
.section-redirect .mat-select-value-text{
    font-size: 14px;
}
.section-redirect .redirect-options{
    width: 200px;
    margin: 0 20px;
}
.section-redirect .redirect-conditions{
    width: 120px;
    margin: 0 20px;
}