.app-bar {
  height: 50px;
  padding: 5px 30px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #eee;
}
.nav-item{
  line-height: 50px;
  padding: 0 15px;
  border-right: 1px solid #eee;
  transition: all 0.2s;
}
.nav-item .icon{
  display: block;
  margin-top: 15px;
  float: left;
  font-size: 18px;
}

.nav-spacer {
  flex: 1 1 auto;
}

.app-bar .tool{
  margin-left: 5px;
}

.input-group{
  position: relative;
  height: 35px;
}
.input-group input{
  height: 35px;
  border: 1px solid #ddd;
  padding: 5px 35px 5px 10px;
}
.tool .search{
  margin-left: 15px;
}
.input-group.search input{
  border-radius: 18px;
  border: 1px solid #ddd;
  outline: none;
}
.input-group.search input:focus{
  border: 1px solid #4caf50;
}

.input-group i{
  position: absolute;
  right: 5px;
  top: 7px;
}

.user_info {
  background: #ccc;
  width: 35px;
  height: 35px;
  padding: 6px;
  border-radius: 50%;
  margin-left: 15px;
}