<header class="app-bar row middle-xs">
  <nav class="row col-xs-12">
    <a md-button [routerLink]="['']" class="nav-item">
      <md-icon class="icon">home</md-icon>
      Trang chủ
    </a>
    <!--<a md-button [routerLink]="['']" class="nav-item">
      Danh mục
    </a>
    <a md-button [routerLink]="['']" class="nav-item">
      Kho sách
    </a>-->
    <a md-button [routerLink]="['survey']" class="nav-item">
      Thư viện đề thi, survey
    </a>
    <a md-button [routerLink]="['']" class="nav-item">
      Quản lý User
    </a>
    <span class="nav-spacer"></span>
    <div class="tool row middle-xs between-xs">
      <a md-button [routerLink]="['']" class="nav-item">
        <md-icon class="icon">notifications</md-icon>
        Thông báo
      </a>
      <a md-button [routerLink]="['']" class="nav-item">
        <md-icon class="icon">sms</md-icon>
        Tin nhắn
      </a>
      <div class="input-group search">
        <input mdInput placeholder="Tìm kiếm" />
        <i class="material-icons icon">search</i>
      </div>
      <span  class="user_info">
        <md-icon>person</md-icon>
      </span>
    </div>
  </nav>
</header>
