@import '~@angular/material/_theming';

// NOTE: Theming is currently experimental and not yet publicly released!

@include mat-core();

$color-palette: (
  50: #e3f2fd,
  100: #bbdefb,
  200: #90caf9,
  300: #64b5f6,
  400: #42a5f5,
  500: #2196f3,
  600: #4285f4,
  700: #1976d2,
  800: #1565c0,
  900: #0d47a1,
  A100: #82b1ff,
  A200: #448aff,
  A400: #2979ff,
  A700: #2962ff,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  )
);

$primary: mat-palette($color-palette, 600, 200, 800);
$accent:  mat-palette($mat-blue, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);


* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #e8f0fe;
}

.head1{
    font-size: 200%;
}

.head2{
    font-size: 160%;
}

.head3{
    font-size: 120%;
}

.app-header-wrapper{
    height: 130px;
    display: block;
}
.app-header{
    position: fixed;
    width: 100%;
    height: 180px;
    background-color: #4285f4;
    color: #fff;
    z-index: 5000;
    top: 0;

    .header-toolbar{
        margin-top: 20px;
        padding: 0 20px;
        width: 100%;
        
        .header-title{
            float: left;
            font-size: 22px;
            margin-left: 15px;
            line-height: 45px;
            
            .mat-input-wrapper{
                margin: 0;
            }
        }
        .header-buttons{
            float: right;

            .icon{
                margin: 0 5px;
            }
            .mat-raised-button{
                color: #000;
            }
        }
        .back-button{
            float: left;
        }
    }
    
    .header-tabs{
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;

        .tabs-editor, .tabs-library{
            width: 60%;
            background-color: #fff;
            position: relative;

            .mat-tab-labels{
                justify-content: center;
            }
        }
        .tabs-library{
            margin-left: 15px;
            width: 35%;
        }
    }
}

.survey-editor .mat-tab-labels{
  justify-content: center;
}

.hidden{
    display: none!important;
}

.mat-focused .mat-input-placeholder{
    color: rgba(0, 0, 0, 0.38)
}

.mat-select-underline{
    display: none;
}

#mathEditorContainer{
    display: none;
    width: 600px;
    padding: 10px;
    position: fixed;
    bottom: 5px;
    right: 5px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    box-shadow: 0 0 1px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    z-index: 10;

    #mathEditorButton{
        margin-top: 15px;
    }
}

.medium-editor-toolbar{
    li button{
        min-width: 45px;
        height: 45px;
        padding: 11px;
    }
    &.medium-toolbar-arrow-under:after{
        top: 45px;
    }
}