editor-toolbar{
    background-color: #fff;
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.24);
    box-shadow: 0 0 2px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.24);
    -webkit-border-radius: 2px;
    border-radius: 2px;
    position: absolute;
    right: -45px;
    top: 48px;
    z-index: 10;
    transition: top 0.1s ease-in;
    -webkit-transition: top 0.1s ease-in;
    -moz-transition: top 0.1s ease-in;
    -o-transition: top 0.1s ease-in;
}

.tool{
    border-bottom: 1px solid #eee;
    color: #555;
}

.tool:last-child{
    border: none;
}