<div class="editor-toolbar">
    <div *ngFor="let tool of toolList" class="tool" >
        <button md-icon-button
            (click)="onSelected(tool)" 
            mdTooltip="{{tool.title}}"
            mdTooltipPosition="right" >
            <md-icon>{{tool.icon}}</md-icon>
        </button>
    </div>
</div>