.question-editor{
    background-color: #fff;
    padding-bottom:15px;
    position: relative;
    // margin-bottom: 5px;

    >.sortable-button{
        width: 100%;
        text-align: center;
        cursor: move;
        visibility: hidden;

        md-icon{
            color: rgba(0, 0, 0, 0.3);
        }
    }

    &:hover{
        >.sortable-button{
            visibility: visible;
        }
    }

    &.active{
        -webkit-transition: box-shadow .25s cubic-bezier(0.0,0.0,0.2,1);
        transition: box-shadow .25s cubic-bezier(0.0,0.0,0.2,1);
        -webkit-box-shadow: 0 -2px 2px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.3);
        box-shadow: 0 -2px 2px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.3);
        z-index: 5;

        &:before{
            content: '';
            position: absolute;
            width: 4px;
            height: 100%;
            background-color: #4285f4;
        }

        >.sortable-button{
            visibility: visible;
        }
    }

    &.is-preview{
        .mat-input-underline{
            display: none!important;
        }
    }
    
    .question-header{
        display: flex;
        align-items: center;
        margin: 0 15px 0 30px;

        .question-content{
            flex: 3;
            font-size: 120%;
        }
     
        .question-type{
            flex: 1
        }

        .insert-image{
            opacity: 0;
        }
        &:hover, &:focus{
            .insert-image{
                opacity: 1;
            }
        }

        .mat-input-wrapper{
            margin: 0;
        }
    }

    .question-description{
        display: flex;
        margin: 0px 15px 0 30px;
        
        .mat-input-container{
            flex: 1;
        }
    }

    .question-answers{
        margin: 0 0 20px 5px;
        
        .answer{
            padding-right: 15px;
            display: flex;
            align-items: center;
            position: relative;

            .answer-content{
                flex: 1;
            }

            .insert-image{
                opacity: 0;
            }

            .mat-input-wrapper{
                padding-bottom: 0;
            }

            .mat-input-underline{
                display: none;
            }

            &:hover, .mat-focused{
                .mat-input-underline{
                    display: block
                }
                .insert-image{
                    opacity: 1;
                }
                .sortable-button{
                    visibility: visible;
                }
            }

            .sortable-button{
                width: 25px;
                cursor: move;
                display: flex;
                align-items: center;
                visibility: hidden;

                md-icon{
                    color: rgba(0, 0, 0, 0.3);
                }
            }

            &.ui-sortable-helper{
                background-color: rgba(255, 255, 255, 0.7);
                -webkit-box-shadow: 0 0 1px rgba(0,0,0,.12), 0 1px 1px rgba(0,0,0,.24);
                box-shadow: 0 0 1px rgba(0,0,0,.12), 0 1px 1px rgba(0,0,0,.24);

                .insert-image, .mat-input-underline{
                    visibility: hidden;
                }
            }

            &.answer-other{
                .sortable-button{
                    visibility: hidden!important;
                }
            }
        }

        .answer-sortable-placeholder{
            width: 100%;
            height: 40px;
        }

        .add-answer{
            padding: 0 15px 0 25px;
            margin: 15px 0;
        }
    }

    .question-footer{
        padding: 10px 0 0;
        margin-left: 30px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        border-top: 1px solid #ddd;

        .divider{
            border-left: 1px solid #eee;
            height: 32px;
            margin: 0 15px;
            width: 0;
        }
    }
}

question-editor{
    display: block;
    // position: absolute;
    // width: 100%;
    // -webkit-box-shadow: 0 0 1px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    // box-shadow: 0 0 1px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);

    &.ui-sortable-helper{
        opacity: 0.5;
        -webkit-box-shadow: 0 -4px 5px rgba(0,0,0,.24), 0 4px 5px rgba(0,0,0,.24);
        box-shadow: 0 -4px 5px rgba(0,0,0,.24), 0 4px 5px rgba(0,0,0,.24);
    }

    &.question-sortable-placeholder{
        height: 100px;
    }
}