.question-editor{
    background-color: #fff;
    padding: 10px 0 15px 0;
    margin-bottom: 5px;
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    box-shadow: 0 0 1px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
}

.question-editor.active{
    border-left: 4px solid #4285f4;
}

.question-header{
    display: flex;
    align-items: center;
    margin: 0 15px 0 30px;
}
.question-header .question-content{
    flex: 3;
    font-size: 120%;
}
.question-header .question-type{
    flex: 1
}

.question-description{
    display: flex;
    margin: -20px 15px 0 30px;
}
.question-description .mat-input-container{
    flex: 1;
}

.question-answers{
    margin: 0 15px 20px 30px;
}

.question-answers .answer{
    display: flex;
    align-items: center;
}

.question-answers .add-answer{
    margin: 15px 0;
}

.answer .answer-content{
    flex: 1;
}

.question-footer{
    padding: 10px 15px 0 0;
    margin-left: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid #ddd;
}