<div class="question-editor" (click)="setActive()" [ngClass]="{active: isActive, 'is-preview': !isActive}" >
    <div class="sortable-button"><md-icon>more_horiz</md-icon></div>
    <div class="question-header">
        <md-input-container floatPlaceholder="never" [ngClass]="['question-content', 'head3']">
            <textarea mdInput autoheight placeholder="Câu hỏi" [(ngModel)]="question.content"></textarea>
        </md-input-container>
        <button md-icon-button *ngIf="isActive" class="insert-image">
            <md-icon>image</md-icon>
        </button>
        <md-select [(ngModel)]="question.type" name="selType" *ngIf="isActive" class="question-type" [floatPlaceholder]="never">
            <md-option *ngFor="let type of questionTypes" [value]="type.value">
                {{type.name}}
            </md-option>
        </md-select>
    </div>
    <div class="question-description" *ngIf="question.showOptions.description">
        <md-input-container floatPlaceholder="never">
            <textarea mdInput autoheight name="questionDescription" 
                placeholder="Mô tả" 
                [(ngModel)]="question.description">
            </textarea>
        </md-input-container>
    </div>
    <div class="question-answers" *ngIf="!isPreview" >
        <div class="answer" 
            *ngFor="let answer of question.answers; index as i" 
            [ngClass]="{'answer-other': answer.type == 1}"
            attr.data-index="{{i}}"
            id="answer{{answer.id}`}"
        >
            <div class="sortable-button"><md-icon>more_vert</md-icon></div>
            <md-radio-button [disabled]="true"></md-radio-button>
            <md-input-container floatPlaceholder="never" class="answer-content">
                <input mdInput [(ngModel)]="answer.content" placeholder="Tuỳ chọn" [disabled]="answer.type == 1" />
            </md-input-container>
            <button md-icon-button *ngIf="isActive" class="insert-image" >
                <md-icon>image</md-icon>
            </button>
            <button md-icon-button *ngIf="isActive && question.answers.length > 1" (click)="removeAnswer(answer)" >
                <md-icon>clear</md-icon>
            </button>
            <md-select [(ngModel)]="answer.redirect" 
                name="selAnserRedirect" 
                *ngIf="isActive && question.showOptions.redirect" 
                floatPlaceholder="never"
                placeholder="Tiếp tục tới phần tiếp theo"
            >
                <md-option *ngFor="let option of redirectOptions" [value]="option.value">
                    {{option.name}}
                </md-option>
            </md-select>
        </div>
        <div class="add-answer" *ngIf="isActive" >
            <md-radio-button value="1" [disabled]="true" ></md-radio-button>
            <span (click)="addAnswer()" style="color: #999">Thêm tuỳ chọn </span>
            <span *ngIf="!hasOther()">
                hoặc&nbsp;
                <span (click)="addAnswer('other')" >Thêm "Khác"</span>
            </span>
        </div>
    </div>
    <div class="question-footer" *ngIf="isActive"  >
        <button md-icon-button><md-icon>search</md-icon></button>
        <button md-icon-button (click)="copyQuestion()" ><md-icon>content_copy</md-icon></button>
        <button md-icon-button (click)="removeQuestion()" ><md-icon>delete</md-icon></button>
        <div class="divider"></div>
        <md-slide-toggle
            [color]="primary">
            Bắt buộc
        </md-slide-toggle>
        <button md-icon-button [mdMenuTriggerFor]="menu">
            <md-icon>more_vert</md-icon>
        </button>
        <md-menu #menu="mdMenu">
            <button md-menu-item disabled>
                Hiển thị
            </button>
            <button md-menu-item (click)="toggleShowOption('description')" >
                <md-icon *ngIf="question.showOptions.description" >done</md-icon>
                <span>Mô tả</span>
            </button>
            <button md-menu-item (click)="toggleShowOption('redirect')" >
                <md-icon *ngIf="question.showOptions.redirect">done</md-icon>
                <span>Chuyển tới phần dựa trên câu trả lời</span>
            </button>
            <button md-menu-item (click)="toggleShowOption('shuffle')" >
                <md-icon *ngIf="question.showOptions.shuffle">done</md-icon>
                <span>Trộn thứ tự tuỳ chọn</span>
            </button>
        </md-menu>
    </div>
</div>
