@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);
@import url(https://unpkg.com/@angular/material@2.0.0-beta.6/prebuilt-themes/indigo-pink.css);

* {
  box-sizing: border-box;
}

body, html, main, .main, .app, app {
  min-height: 100%;
  height: 100%;
  background-color: #efefef;
}

body {
  font-family: 'Roboto', sans-serif;
}

h3{
    font-size: 110%;
}

h2{
    font-size: 120%;
}

.head1{
    font-size: 160%;
}

.head2{
    font-size: 140%;
}

.head3{
    font-size: 120%;
}

.app-header{
    height: 200px;
    background-color: #4285f4;
    color: #fff;
    padding: 20px;
}

.header-title{
    float: left;
    font-size: 22px;
    margin-left: 15px;
    line-height: 45px;
}

.header-title .mat-input-wrapper{
    margin: 0;
}

.header-buttons{
    float: right;

}
.header-buttons .icon{
    margin: 0 5px;
}

.back-button{
    float: left;
}

.header-buttons .mat-raised-button{
    color: #000;
}

.survey-editor .mat-tab-labels{
  justify-content: center;
}

.hidden{
    display: none!important;
}